@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

.app-container {
    width: 1200px;
    margin: auto;
}

body {
    background-color: #121517;
}